<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/styles.css">
    <title>Library</title>
  </head>
  <body>
    <h1>Library Books</h1>

        <h2><a href="/add_author">Add Author</a></h2>

        <h2><a href="/add_book">Add Book</a></h2>
      <form action="/" method="GET">
        <input type="text" name="query" placeholder="Search books">
        <button type="submit">Search</button>
      </form>

      <form action="/" method="GET">
        <label for="sort_by">Sort by</label>
          <select name="sort_by" id="sort_by">
            <option value="title">Title</option>
            <option value="author">Author</option>
          </select>
        <input type="submit" value="Sort" class="sort-button">
      </form>

    {% for book in books %}
      <div class="home-page-info-and-button">
        <div>
          <img src="https://covers.openlibrary.org/b/isbn/{{ book.isbn }}-S.jpg" alt="{{ book.title }}" class="book-img"/>
        </div>
        <h3>{{ book.title }} by {{ book.author.name }}</h3>
        <!-- <p>ISBN DEBUG: {{ book.isbn }}</p> -->
        <form action="{{ url_for('delete_book', book_id=book.id) }}" method="POST">
          <button type="submit">Delete</button>
        </form>
      </div>
    {% endfor %}

  </body>
</html>